ul {
  list-style: none;
  >li {
    font-size: 1.2em;
    margin-top: 10px;

    >span {
      margin-left: 10px;
      display: inline-block;
      background-color: green;
      border-radius: .1em;
      padding: 5px 10px;
      font-size: .6em;
      font-weight: bold;
    }
  }
}